Log In
<hr/>
<form action="log_in" method="get">
  <input type="text" name="username" placeholder="User Name"/>
  <input type="password" name="password" placeholder="Password"/>
  <input type="submit" value="Log In"/>
</form>
<br />
<form action="people/new" method="get">
  <input type="submit" value="Sign up!"/>
</form>
